# ---------------------------
# Node / Frontend (React)
# ---------------------------

# dependencies
/node_modules
/.pnp
.pnp.js
**/node_modules/
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------------
# Golang / Backend
# ---------------------------

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of Go coverage tool
*.coverprofile

# Go modules
/go.sum
/go.mod

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS files
.DS_Store


.env
.history/